@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  margin: 0px;
}

h1, h2, h3, a, p, li {
  font-family: 'Open Sans', sans-serif;
}

.codeminer-title {
  font-size: 7rem;
  text-align: center;
}

.central-title {
  font-size: 12vw;
  color: white;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 0;
  font-weight: 400;
}

.btn {
  text-align: center
}

.sign-up-btn-banner {
    background-color: transparent;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border: 0.05rem solid white;
    border-radius: 4rem;
}

.sign-up-btn-banner:hover {
  background-color: white;
  color: black;
}


.central-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: white;
  margin-top: 0;
  text-align: center;
  font-weight: 300;
}

.jumbotron {
  background: url('../images/central-banner-top.jpg') no-repeat center / cover;
  height: 100%;
  width: 100%;
}

.flex-container {
  margin: 0 0 2rem 0;
  padding: 0;
}

.section-title {
  text-align: center;
  font-size: 3rem
}

.features-subtitle {
  color: #d0011b;
  font-size: 1.8rem;
  text-align: center
}

.features img {
  width: 37.5rem;
  height: 25rem;
}

.features-list {
  font-size: 1.3rem;
  text-align: left;
  margin-left: 5rem;
  line-height: 3rem
}

.more-feature-list{
  list-style-type: none;
  text-align: center;
  font-size: 1.5rem
}

.more-feature-list img{
  height: 8rem;
  width: 8rem;
  margin: 1rem 0 1rem 0;
}

.integration {
  text-align: center;
}

.integration img {
  height: 6.25rem;
  width: 6.25rem;
  margin-right: 2rem;
}

.footer {
  margin-top: 2rem;
  background-color: #AE0606;
  height: 7rem;
}