@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  margin: 0px;
}

h1, h2, h3, a, p, li, span {
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
}

.flex-row {
  width: 100%;
  flex-direction: row;

  @media(max-width: 800px){
    flex-direction: column;
  }
}

.flex-column {
  width: 100%;
  flex-direction: column;
}

.codeminer-title {
  font-size: 7rem;
  text-align: center;
  color:#585858;
  text-transform: uppercase;
}

.central-title {
  font-size: 12vw;
  color: white;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}

.btn {
  text-align: center;
}

.features-spacer {
  justify-content: space-around;
  flex-wrap: wrap;
}

.column-fix {
  @media(max-width: 800px){
    flex-direction: column-reverse;
  }
}

.sign-up-btn-banner {
  background-color: transparent;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition-duration: 0.4s;
  border: 0.05rem solid white;
  border-radius: 4rem;
  &:hover {
    background-color: white;
    color: black;
  }
}

.central-subtitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: white;
  margin-top: 0;
  text-align: center;
  font-weight: 300;
}

.jumbotron {
  background: url('../../images/central-banner-top.jpg') no-repeat (center / cover);
  height: 100%;
  width: 100%;
}

.flex-container {
  margin: 0 0 2rem 0;
  padding: 0;
}

.section-title {
  text-align: center;
  font-size: 3rem;
}

.feature-column {
  width: 50%;
  @media(max-width: 800px) {
    width: 100%;
    align-items: center
  }
}

.features-subtitle {
  color: #d0011b;
  font-size: 1.8rem;
  text-align: center;
}

.img-wrapper {
  width: 50%;
  
  @media(max-width: 800px) {
    width: 100%;
  }
}

.report-subtitle {
  width: 100%;
}

.features-list {
  font-size: 1.3rem;
  line-height: 3rem;

  @media (max-width: 800px) {
    list-style-type: none;
    text-align: center;
    padding-left: 0
  }
}

.backlog-list {
  margin-left: 8rem;
  @media (max-width: 800px) {
    margin-left: 0
  }
}

.report-list {
  margin-left: 10rem;
  @media (max-width: 800px) {
    margin-left: 0
  }
}

.wrapper {
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    width: 30%;
    margin-bottom: 2rem;

    @media(max-width: 650px){
      width: 50%;
    }
  }
}

.cowork-banner {
  background: url('../../images/cowork-dark.png') no-repeat center / cover;
  height: 100%;
  background-attachment: fixed;

  h1 {
    font-size: 5rem;
    color: white;
    text-align: center;
    padding-top: 15rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    text-transform: uppercase;

    @media (min-width: 601px) and (max-width: 1400px) {
      padding-top: 4rem;
      font-size: 4rem;
    }

    @media (max-width: 600px) {
      padding-top: 4rem;
      font-size: 2rem;
    }
  }

  .cowork-subtitle {
    width: 60%;
    margin: 0 auto;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  p {
    font-size: 3vh;
    color: white;
    text-align: center;
    padding: 0 2rem;
    font-weight: 200;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    line-height: 4.5rem;
   
    @media (max-width: 600px) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

.more-feature-list {
  list-style-type: none;
  text-align: center;
  font-size: 1.5rem;
  img {
    height: 8rem;
    width: 8rem;
    margin: 1rem 0 1rem 0;
    
    @media(max-width: 600px) {
      height: 4.5rem;
      width: 4.5rem;
    }
  }

  p {
    font-size: 1.2rem;
    padding: 0 1rem;
    
    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }

  .mentions {
    font-size: 7.5rem;

    @media (max-width: 600px) {
      font-size: 5.2rem;
    }
  }
}

.integration {
  text-align: center;
  font-size: 1.3rem;
  margin: 4rem 0 4rem 0;
  
  h2 {
    margin-bottom: 2rem;
  }

  img {
    margin-top: 2rem;
    height: 6.25rem;
    width: 6.25rem;
    margin: 0 1rem 0 1rem;

    @media(max-width: 600px) {
      height: 4rem;
      width: 4rem;
    }
  }
}

.signup-container {
  background-color: #8E1010;
  height: 20rem;
  text-align: center;

  @media (max-width:600px) {
    height: 15rem;
  }

  .ready-to-start {
    font-size: 3rem;
    color: white;
    font-weight: 300;
    position: relative;
    top: 0.5rem;
    padding-top: 2rem;

    @media (max-width: 600px) {
      font-size: 2rem; 
    }
  }

  .big-btn-container {
    width: 15rem;
    height: 5rem;
    margin: 2.5rem auto;
    background-color: #C5322B;
    transition-duration: 0.4s;
    box-shadow: 1px 1px 10px #373636;
    justify-content: center;

    &:hover {
      background-color: #DB362F;
    }

    .signup-big-btn {
      font-size: 1.5rem;
      text-decoration: none;
      color: white;
      padding: 1.5rem;

      @media (max-width: 600px) {
        font-size: 1.5rem;
      }
    }
  }

  
}

.sign-up-btn {
  background-color: transparent;
  color: black;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 3rem;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  border: 0.05rem solid #AE0606;
  border-radius: 4rem;
  &:hover {
    background-color: #AE0606;
    color: white;
  }
}

.footer {
  padding: 1rem;
  margin-bottom: 0;
  background-color: #AE0606;
  height: 7.5rem;
  color: white;
  font-size: 1.1rem;
  justify-content: space-between
}

.footer-column {
  flex-direction: column
}

.logos {
  margin-top:2em;
  margin-left: 5em;
  @media(max-width: 650px){
    margin-left: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    margin: 0.5rem;
    margin-bottom: 0;
    width: 2.5em;
    height: 2.5em;
  }
}

.footer-wrapper {
  text-align: center;
  margin-right: 5em;
  @media(max-width: 650px){
    margin-right: 0;
  }
}
.cm42-logo {
  margin-top: 0.5rem;
  width: 5rem;
  height: 5rem;
}

.copyright {
  margin-top: 1rem;
  font-size: 0.8rem;
}

hr.line {
  border: 0;
  height: 0.1rem;
  background: #333;
  width: 30%;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-bottom: 4rem;
}

.section-heading {
  border: 0;
  height: 0.1rem;
  background: #BAB8B8;
  width: 40%;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  margin-bottom: 4rem;
}

.shadow-image {
  width: 90%;
  box-shadow: 5px 5px 10px grey;
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.more-feature-section {
  background-color: #f5f5f8;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.navbar {
  list-style: none;
  margin: 0; 
  margin-right: 2em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 1em;
  margin-right: 2em;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  @media all and (max-width: 800px) {
    margin-right: 0em;
    .pipe {
      display: none;
    }
  }
}

.navbar a, .navbar span {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}


@media all and (max-width: 800px) {
  .navbar {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navbar {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navbar a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  
  .navbar li:last-of-type a {
    border-bottom: none;
  }
}

.signup-label,
.signin-label {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.signup-label {
  margin-top: 0.2em;
  background: rgba(83, 6, 6, 0.30);
  & a:hover{
    transition: ease 1s;
    background: rgba(31, 1, 1, 0.30);
  }

}